*~
*.swp

x_lic*.*
lcoproc.ini
object
source
document.cache
run/wam_sessions
run/web_upload
lansa/imports.*

# Configuration files we don't want to track
l4w3serv.cfg.default-*
lansa.ini
listen.dat
lroute.dat
apache_start
apache_stop
mod_lansa.conf
x_lansa.pro

# We still want to track these files
!x_lansa/source
!x_lansa/x_sys/source
